aniso8601
appnope
asttokens
blinker
Bottleneck
Brotli
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
et-xmlfile==1.1.0
executing
Flask
Flask-Cors
Flask-RESTful
fonttools
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
nest-asyncio
numexpr
numpy
openpyxl
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
PySocks
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
Werkzeug
xgboost
